name: docker CI
  
on:
  push:
   branches: [ dev ]
   tags:
      - "v*"

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
    - name: Récuperation du code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -f nodeproject/Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest nodeproject



    - name: Push Docker image
      run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest